Xft.dpi: 144
Xcursor.size: 32

! xterm customizations from
! http://unixsheikh.com/articles/the-terminal-the-console-and-the-shell-what-are-they.html
XTerm*renderFont: true
XTerm*faceName: xft:SauceCodePro Nerd Font
XTerm*faceSize: 9
! Dynamically change font size with CTRL+SHIFT+PageUp/PageDown
XTerm*faceSize1: 12
XTerm*faceSize2: 14
XTerm*faceSize3: 16
XTerm*faceSize4: 18
XTerm*faceSize5: 20
XTerm*faceSize6: 22
XTerm*utf8: 1
XTerm*termName: xterm-256color
XTerm*borderWidth: 0
XTerm*autohint: true
XTerm*backarrowKey: false
XTerm*bellIsUrgent: false
XTerm*cursorBlink: false
XTerm*ScrollKey: true
! Fix ALT key (check in mc with Alt+h)
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*ttyModes: erase ^?
XTerm*fastScroll: true

! I like a lot of scrollback.
XTerm*saveLines: 100000

! Use CLIPBOARD by default.
XTerm*selectToClipboard: true
! Hack xterm to add selection to both PRIMARY and CLIPBOARD.
<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

! xterm defines a whole suite of "actions" for manipulating the terminal e.g.
! copy-selection(), hard-reset(), scroll-back(), etc. These actions can be
! mapped to mouse/key combinations using the translations resource.
!
! Normally, selected text is stored in PRIMARY, to be pasted with Shift+Insert
! or by using the middle mouse button. With these settings you can use
! CTRL+SHIFT+v/c and you can make Xterm copy to clipboard so that you can use
! CTRL+v in GUI applications.
XTerm*translations: #override \n\
    Shift Ctrl <Key>Prior: larger-vt-font() \n\
    Shift Ctrl <Key>Next: smaller-vt-font() \n\
    Shift Ctrl <Key>C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
    <Key>BackSpace: string(0x7f) \n\
    <Key>Delete: string(0x1b) string("[3~")

! Base16 Gruvbox dark, hard
! Scheme: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
XTerm*.foreground: #d5c4a1
XTerm*.background: #1d2021
XTerm*.cursorColor: #d5c4a1

XTerm*.color0: #1d2021
XTerm*.color1: #fb4934
XTerm*.color2: #b8bb26
XTerm*.color3: #fabd2f
XTerm*.color4: #83a598
XTerm*.color5: #d3869b
XTerm*.color6: #8ec07c
XTerm*.color7: #d5c4a1

XTerm*.color8: #665c54
XTerm*.color9: #fb4934
XTerm*.color10: #b8bb26
XTerm*.color11: #fabd2f
XTerm*.color12: #83a598
XTerm*.color13: #d3869b
XTerm*.color14: #8ec07c
XTerm*.color15: #fbf1c7

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
XTerm*.color16: #fe8019
XTerm*.color17: #d65d0e
XTerm*.color18: #3c3836
XTerm*.color19: #504945
XTerm*.color20: #bdae93
XTerm*.color21: #ebdbb2
